<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/guess.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/guessForm.js"></script>
  </head>
  <body>
    <header></header>
    <main role="main">
      <div class="titlebar-container">
        <div class="titlebar">
          <h1 class="title"><%= title %></h1>
        </div>
      </div>
      <div class="content-layout">
        <div id="content" class="text-input">
          <section id="guess">
            <h2 class="instructions hidden">
              The server is thinking of a number between 1 and 10.
            </h2>
            <a class="nav-link" id="showInstructions" href="#">Instructions</a>
            <form id="guess-form">
              <div class="input">
                <label for="guess">Your guess</label>
                <input
                  type="text"
                  name="guess"
                  required
                  placeholder="Your Guess"
                />
                <button id="guess_input" type="button">Guess</button>
              </div>
            </form>
          </section>
        </div>
      </div>
      <ul>
        <% if(result == 'too high') {%>
        <li class="highGuess"><%= guess%> <%= result%></li>
        <%} else{%>
        <li class="lowGuess"><%= guess%> <%= result%></li>
        <%}%>
      </ul>
    </main>
  </body>
</html>
