<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/guess.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/guessForm.js"></script>
  </head>
  <body>
    <div class="container">
      <main class="content">
        <h1><%= title %></h1>
        <section id="guess">
          <h2 class="instructions hidden">
            The server is thinking of a number between 1 and 10.
          </h2>
          <a class="nav-link" id="showInstructions" href="#">Instructions</a>
          <form id="guess-form">
            <div class="input">
              <label for="guess">Your guess</label>
              <input type="text" name="guess" required />
              <button id="guess_input" type="button">Guess</button>
            </div>
          </form>
        </section>
        <ul>
          <% if(result == 'too high') {%>
          <li class="highGuess"><%= guess%> <%= result%></li>
          <%} else{%>
          <li class="lowGuess"><%= guess%> <%= result%></li>
          <%}%>
        </ul>
      </main>
    </div>
  </body>
</html>
